<!-- Hero Section -->
<div class="hero-section">
    <h1>Publish your passions, your way.</h1>
    <p>Create a unique and beautiful blog easily.</p>
    <p class="call-to-action">Register and login to create and view blog posts.</p>
  <!-- Action Buttons -->
  <div class="action-buttons">
    <button mat-raised-button color="accent" (click)="navigateToRegister()">Register</button>
    <button mat-raised-button color="primary" (click)="navigateToLogin()">Login</button>
  </div>
  </div>
  
  <!-- Rest of your home page content -->
  
